.footer {
   padding:5%;
   width: 360px;
   margin: 20px auto;
    font-weight: 100;
    font-size:15pt;
    z-index:+2;
    color: #444;
    word-spacing: 3px;
    letter-spacing:0.8px;
    line-height:1.8em;
    font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;  
}

.detail{
    margin-top: 200px;
}
.title{ 
    position: absolute;
    height:150px;
    width:110%;
    padding: 10%;
    padding-left: 22%;
    margin-left: -120px;
    margin-top: -40px;
    color: oldlace;
    font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;  
}

@media screen and (max-width:1024px){
.title{ 
    margin-top: -20px;
    padding: 10%;
    padding-left: 30%;
}
}
.page-header{    
    height:100%;
    width:100%;
    color: #333;
    font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
}
.box {
    width: 90%;
    border: 5px;
    padding: 5%;
    text-decoration-color: darkslategray
}

