.footer {
   padding:5%;
   width: 360px;
   margin: 20px auto;
    font-weight: 100;
    font-size:15pt;
    z-index:+2;
    color: #444;
    word-spacing: 3px;
    letter-spacing:0.8px;
    line-height:1.8em;
    font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;  
}

.detail{
    margin-top: 200px;
}

.title-img {

    height: 10%;
    width:100%;
    padding: 10%;
    color: oldlace;
    
}
@media (min-width:768px) and (max-width: 1024px){
    .title-img{ 
      
        margin-left: -5%;
        margin-top: -20px;
        color: oldlace;
         
    }
    .content-board{
        position: relative;
        margin-left : 6%;
        margin-right: 6%;
    }
}

@media screen and (max-width:768px){
    .title-img{ 
        width:94.5%;
        margin-left: -7%;
        margin-top: -20px;
        color: oldlace;
    }
}

@media (min-width: 1280px){
    .contents{
        position: relative;
        margin-left : 15%;
        margin-right: 15%;
    }
    .content-board{
         position: relative;
        margin-left : 10%;
        margin-right: 10%;
    }
}

@media (min-width: 1024px) and (max-width: 1280px){
     .contents{
         position: relative;
        margin-left : 15%;
        margin-right: 15%;
    }
     .content-board{
        position: relative;
        margin-left : 8%;
        margin-right: 8%;
    }
}


.page-header{    
    height:100%;
    width:100%;
    color: #333;
    font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
}
.box {
    width: 90%;
    border: 5px;
    padding: 5%;
    text-decoration-color: darkslategray
}

