
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Highluck<small> Blog</small></h1>
    <h2>고군분투!!</h2>
    <ul>
    <li><a href="http://highlucksw.tistory.com/">tistory</a></li>
    <li><a href="http://jquery.com/">facebook</a></li>
    <li><a href="yello1109@daum.net/">yello1109@daum.net</a></li>
    </ul>
    <p>Use it as a starting point to create your own website.</p>

</div>

<!-- Example row of columns -->
<div>
    <div class = box style="width:100%">
        <a href="#/project_a">
            <h2>스타트업 도전기 - 0</h2></a>
     </div>
    <div class = box  style="width:100%">
        <a href="#/project_b">
            <h2>스타트업 도전기 - 1</h2></a>
     </div>
</div>

