
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Highluck<small> Blog</small></h1>
    <h2>고군분투!!</h2>
    <ul>
    <li><a href="http://highlucksw.tistory.com/">tistory</a></li>
    <li><a href="http://jquery.com/">facebook</a></li>
    <li><a href="yello1109@daum.net/">yello1109@daum.net</a></li>
    </ul>
    <p>Use it as a starting point to create your own website.</p>

</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <a href="#" class="thumbnail"></a>
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#/project_a">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <a href="#" class="thumbnail"></a>
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#/project_a">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <a href="#" class="thumbnail"></a>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#/contact">View details &raquo;</a></p>
    </div>
</div>

