
<!-- Main hero unit for a primary marketing message or call to action -->
<div class = title-img style="background-image: URL(img/bg.jpeg); color:  #f9b951;">
   <br>
    <h1>Highluck<small style="color :  #f9c971;">Blog</small></h1>
       <p align = "left" style=" padding-right: 10%;">
        
           <span span style="font-style:italic;">Write by</span> highluck
        
       </p>
</div>

<md-content class="md-padding content-board" layout-xs="column" layout="row">
    <br>
    <h4>Introduce</h4>
    <table style="width:90%;">
        <tr style= "margin-left :20%;">
            <td>
                <p class="intro">&nbsp;안녕하세요 개발자 이상운입니다. <br>서버개발을 사랑하고 클라이언트는 열심히 노력하는 개발자입니다. 개발과 어린아이들 그리고 음악을 좋아합니다. 그래서 봉사활동, 강의, 작곡 그리고 외주개발을 많이 해왔습니다. 주 언어는 Java이고 클라이언트 AngularJS로 웹서비스를 만들정도 입니다.
                </p><br>
                <p class="intro">&nbsp;신기술에 관심이 많고, 많이 해보려고 노력합니다. 아직 부족하지만 세상에 좋은 서비스를 만들기위해 늘 노력하는 개발자입니다.</p>
                <br>
                <p class="intro">&nbsp;XL게임즈라는 게임회사를 다니면서 게임 솔루션을 개발했습니다. 그리고 그안에서 개발 프로세스, 개발 환경, 구조 등을 몸으로 배웠습니다. 지금은 스타트업에서 전회사에서 배운것들을 적용하고 조금 더 고민하고 고민해서 핀테크서비스를 개발하고 있습니다.</p>
                <br>
            </td>
            <td>
            </td>
        </tr>
    </table>
        
        <h4>Career</h4>
            <p class="intro">
                    &nbsp;&nbsp;가천대 컴공 졸업&nbsp;<br>
                    &nbsp;&nbsp;외주 개발(웹 or 안드로이드 개발)&nbsp;<br>
                    &nbsp;&nbsp;XLGames&nbsp;Infra Dev&nbsp;<br>
                    &nbsp;&nbsp;Startup&nbsp;&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;Kakao&nbsp;Makers Dev&nbsp;&nbsp;&nbsp;
            </p>
    
        <ul>    
            <li>기술블로그&nbsp;:&nbsp;
                <a href="http://highlucksw.tistory.com/">highlucksw.tistory.com</a></li>
            <li>페이스북&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
                <a href="https://www.facebook.com/sangwn.lee">facebook</a></li>
            <!--<li>브런치&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
                <a href="https://brunch.co.kr/@sangwnlee">Brunch@sangwnLee</a></li>-->
            <li>이메일&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; 
                <a href="yello1109@daum.net/">yello1109@daum.net</a>
                <a href="high.lee@kakaocorp.com/">high.lee@kakaocorp.com</a>
            </li>
        </ul>
    <br>
    <h4>&nbsp;Recent Posts </h4>
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>   
          <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
             <a href="#/project_p" style="color:#444">
                <span class="md-headline">14. 반성은 성공의 어머니..</span><br>
                <span class="date"> : 분산 트랜잭션, DB</span>
              </a>
              <div class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                       <code>DB</code>
                      <code>Transaction</code>
                 </md-chips>
                </md-content>
                </div>
          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2017-03-23 
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck 
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
          <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
              <a href="#/trouble_d" style="color:#444">
                <span class="md-headline">4.&nbsp;많은 트래픽을 유발하는 API 성능 이슈</span><br>
                <span class="date">: 해결방법은 정산이다!</span>
              </a>
               <div class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                     <code>SpringBatch</code>
                     <code>RestAPI</code>
                 </md-chips>
                </md-content>
                </div>
              
          </md-card-title-text>
          
          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2017-03-05
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck 
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>
    
      <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>   
          <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
             <a href="#/project_o" style="color:#444">
                <span class="md-headline">13. Optional은 사랑입니다.</span><br>
                <span class="date"> : Optional </span>
              </a>
              <div class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>Java8</code>
                 </md-chips>
                </md-content>
                </div>
          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2017-03-01 
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck 
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>
    
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>   
          <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
             <a href="#/project_m" style="color:#444">
                <span class="md-headline">12. 마이크로서비스를 구성하며 느낀점</span><br>
                <span class="date"> : 마이크로서비스아키텍처 </span>
              </a>
              <div class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>MySQL</code>
                      <code>SpringBoot</code>
                      <code>MicroService</code>
                 </md-chips>
                </md-content>
                </div>
          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2017-02-05 
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck 
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>
   
    <br>
    <!--
  <h4>HighLuck is&nbsp;?</h4>
                <p align = "left" style=" padding-right: 10%; font-size : 15px">
                      &nbsp;&nbsp;생년월일 : 1989.11.09
                </p>
                <span class="md-headline">Career</span>   
                <p align = "left" style=" padding-right: 10%;">
                    <span class="md-headline">&nbsp;&nbsp;가천대 컴공 학사 졸업&nbsp;(2008.02 ~ 2016.02)</span><br>
                    <span class="md-headline">&nbsp;&nbsp;XLGames&nbsp;(2016.01 ~ 2016.07)</span><br>
                    <span class="md-headline">&nbsp;&nbsp;Startup&nbsp;&nbsp;&nbsp;(2016.07 ~ )</span>
                </p>
                <br>

                <ul>    
                    <li>기술 블로그&nbsp;:&nbsp;<a href="http://highlucksw.tistory.com/">highlucksw.tistory.com</a></li>
                    <li>페이스북&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<a href="http://jquery.com/">facebook</a></li>
                    <li>이메일&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<a href="yello1109@daum.net/">yello1109@daum.net</a></li>
                </ul>-->
</md-content>







