
<div class="contents">
<div class="page-header">
    <h2 style=" padding-left: 5%;">스타트업 도전 3</h2>
    <h3 style=" padding-left: 5%;"> : 우린 변화가 필요하다.</h3>
     <p align = "right" style=" padding-right: 6%;">- 2016-08-10 -</p>
    <p align = "right" style=" padding-right: 5%;"><span span style="font-style:italic">Write by</span> highluck</p>
</div>

    <div class = "footer content" style="width:90%">
        <p>&nbsp;사실 회사의 전체적인 아키텍처를 보고 실망했다. 내가 입사한 직전 전체적인 구성도는 다음과 같다.</p>
        <img src="img/arc_pre.png" width="600" height="350">
        <br>
        <h3>- 새로운 아키텍처! -</h3>
        <p>&nbsp;사실 팀장님께 새로 만들어야 할 것에 대한 의견을 많이 내었다. 기존에 홈페이지는 html중간중간에 PHP코드가 있었고 인증이나 보안에 대비가 없었다. 그리고 이렇게 front와 server가 붙어있으면 나중에 트래픽이많이 나올때 대비 할 수가 없겠다는 생각이 들었다. 또한 은행과 송수신하는 서버를 모니터링 하는 서버개발도 필요하다고 생각이 들었다. 왜냐면 회사의 직접적인 매출과 연관이 되어있기 때문에 서버가 죽었는지 살았는지 쉽게 모니터링을 할 필요가 있었기 때문이다. 조금 더 자세한 건 개발하는 포스팅을 올릴 때 다시한번 올리겠다.</p>
        <p> 그래서 생각해낸 새로운 아키텍쳐!</p>
        <img src="img/arc_after.png" width="600" height="350">
        <br>
    </div>
</div>