<link rel="stylesheet" href="css/basic.css"/>

<div class="page-header">
    <h1>스타트업 도전기 - 1</h1>
    <h2>헬융권에 온 것을 환영한다.</h2>
</div>

<div class = "footer" style="width:100%">
    <p> 내가 입사한 스타트업은 핀테크를 하는 스타트업 이었다. 전에는 금융권개발을 하는 친구들이 헬융권&nbsp;||&nbsp; 소프트웨어개발의 끝이라고 표현하는 의미를 몰랐다...... 
    </p>
    <p> 처음으로 내가 맡게된 임무는 은행과 전문을 주고 받는 서버를 개발하는 것이었다. TCP통신 서버로 대출받은 사람 의 내역, 개인정보등을 송수신하는 서버를 개발하는 것이었다. </p>
    <br>
    <h4>&nbsp;뭐 별거아니네</h4>
    <h3>&nbsp;뭐 별거아니네?</h3>
    <h2>&nbsp;뭐 별거아니네?!!!</h2>
    <br>
    <p>&nbsp;이것은 극암덩어리 였다. 프로토콜을 정의해놓은 개발 문서 조차 기술적인 내용은 전혀 없고, 그냥 프로세스만 막나열 해놓은 수준으로 무슨 말인지 이해가 안되었다.&nbsp; 문서를 보고 또보고 개발을 시작..<br>
    메시지 하나를 보내는 과정도 매우 복잡했다.<br> 간단히 그려보자면 메시지 한번을 보낼때마다 이런과정을 통해야한다.
    </p>
    <img src="img/protocol.png" width="500" height="800">
    <br><br>
    <p>&nbsp; 프로세스를 빼면 사실 개발하는 것은 그렇게 어려운일은 아니었다. 하루에 한번만 송수신 요청이 일어나기 때문에 멀티스레드가 필요한 프로그램도 아니었기 때문에 단순한 socket통신으로 개발할 수 있었다. 단지, 프로토콜이 워낙 이상했기때문에 그것을 파싱하는 소스를 만드는게 머리가 아프긴 했다.    
    </p>
    <p>&nbsp; 프로토콜 예시를 들어보면 0032012342332444233412341 홍길동890101 323233 이런식이었다. 이걸 짤라서 앞에 4자리는 뒤에 바이트크기이고 뒤에 몇자리는 뭐뭐고 그래서 그냥 다 subString으로 짤라야했다.&nbsp;그리고 나중에 내용부에서는 "|" 구분자가 껴서 오더라 그래서 이부분은 "|"을 split해서 파싱하고 DB에 보내는 프로토콜 받는 프로토콜 저장하면 끝.</p><br>
    <p>그리고.... 개발을 하고 나니 팀장님왈 "이거 반대로 하는 서버도 하나더 만들어야 하는데 괜찮겠어?"<br>
        하... 괜히 이직 했나?..</p>
</div>