

<div class="page-header">
    <h2 style=" padding-left: 5%;">스타트업 도전 2</h2>
    <h3 style=" padding-left: 5%;"> : 스칼라?! 당신은 누구신가요?!</h3>
     <p align = "right" style=" padding-right: 6%;">- 2016-07-15 -</p>
    <p align = "right" style=" padding-right: 5%;"><span span style="font-style:italic">Write by</span> highluck</p>
</div>

<div class = "footer" style="width:90%">
    <p>&nbsp;이번엔 전포스팅에 얘기한 보내는 서버를 개발해야 한다. 하지만 이프로그램은 한달에 한번만 보내는 서버이기 때문에 위험도가 낮다. 그래서 팀장님과 상의해서 평소에 써보고 싶었던 스칼라를 사용하기로 했다.
    </p>
    <br>
    <h3>Dev2. 은행 전문 송신 서버</h3>
    <p> 이번 서버는 수신서버의 프로세스에서 반대로만 개발하면된다.</p> 
     <img src="img/protocol.png" width="500" height="800">
    <p>즉, 다음과 같은 프로세스에서 내가 은행이라고 생각하고 만들면 된다. </p>
    <br>
    <h2>&nbsp;이번엔 진짜 별거아님!!!</h2>
    <br>
    <img src="img/bank_model.png" width="500" height="800">
    <h4>(프로그램 레이어)</h4>
    <br>
    <p>&nbsp;다음과 같은 레이어로 개발을 시작했다. 사실 수신 서버가 있기 때문에 금방 만들수 있지만, 이 프로그램은 스칼라를 이용하는 것이 포인트!! 집에가는 길에 스칼라 기본서부터 샀다.
    </p>
    
</div>