<div class = title-img style="background-image: URL(img/cong.jpg);">
   <br>
    <h1>Startup<small> 도전기</small></h1>
       <p align = "left" style=" padding-right: 10%;">
        
           <span span style="font-style:italic;">Write by</span> highluck
        
       </p>
</div>
<div class="retitle"></div>

<md-content class="md-padding content-board" layout-xs="column" layout="row">
    
    <a href="#/project_d" style="color:#444">
     <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="">     <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
            <span class="md-headline">스타트업 도전기 - 3 - </span>
            <span class="date">: 우린 변화가 필요하다.</span>
          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2016-08-12 
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck 
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>
    </a>
    
    <a href="#/project_c" style="color:#444">
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="">     <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
            <span class="md-headline">스타트업 도전기 - 2 - </span>
            <span class="date">: 스칼라?! 당신은 누구신가요?!</span>
          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2016-08-05 
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck 
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>
    </a>
    
     <a href="#/project_b" style="color:#444">
     <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="">     <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
            <span class="md-headline">스타트업 도전기 - 1 - </span>
            <span class="date">: 헬융권에 온 것을 환영한다.</span>
          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2016-07-25 
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck 
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>
    </a>
    
    <a href="#/project_a" style="color:#444">
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card md-theme="default" md-theme-watch="">     <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
            <span class="md-headline">스타트업 도전기 - 0 - </span>
            <span class="date">: 무모한도전?</span>
          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p  class = "date" align = "right" style=" padding-right: 6%;">
                    2016-07-15 
              </p>
              <p  class = "date">
                 <span span style="font-style:italic;">Write by</span> highluck 
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>
    </a>  
    <md-button>1</md-button>
</md-content>