<div class = title-img style="background-image: URL(img/cong.jpg);">
   <br>
    <h1>나의<small> 개발이야기</small></h1>
       <p align = "left" style=" padding-right: 10%;">

           <span span style="font-style:italic;">Write by</span> highluck

       </p>
</div>
<div class="retitle"></div>

<md-content class="md-padding content-board" layout-xs="column" layout="row">

    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
          <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
            <a href="#/project_e" style="color:#444">
                <span class="md-headline">4.&nbsp;서비스를 개발하자</span><br>
                <span class="date">: AuthAccountWebApi devstory </span>
            </a>
              <div class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>SpringBoot</code>
                      <code>Async</code>
                      <code>Redis</code>
                      <code>MySQL</code>
                      <code>JPA</code>
                 </md-chips>
                </md-content>
                </div>
          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2016-06-25
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>

    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
          <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
              <a href="#/project_d" style="color:#444">
                <span class="md-headline">3.&nbsp;개발자는 늘 고민을 해야해 </span><br>
                <span class="date">: Architecture </span>
              </a>
               <div class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>Architecture</code>
                 </md-chips>
                </md-content>
                </div>
          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2016-06-10
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>

    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
          <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
            <a href="#/project_c" style="color:#444">
                <span class="md-headline">2.&nbsp;스칼라?! 당신은 누구신가요?! </span><br>
                <span class="date">: Scala Application</span>
            </a>
               <div class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>Scala</code>
                      <code>Tcp</code>
                 </md-chips>
                </md-content>
                </div>
          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2016-05-05
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>

    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
          <md-card-title height=10px>
          <md-card-title-text style ="padding-left : 3%;">
            <a href="#/project_b" style="color:#444">
                <span class="md-headline">1.&nbsp;헬융권에 온 것을 환영한다. </span><br>
                <span class="date">: 은행송수신 TCP Server devstory</span>
            </a>
              <div class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>Java</code>
                      <code>Tcp</code>
                      <code>postgreSQL</code>
                 </md-chips>
                </md-content>
                </div>
          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2016-03-25
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>

<!--
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
          <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
             <a href="#/project_a" style="color:#444">
              <span class="md-headline">0.&nbsp;새로운 도전 </span><br>
              <span class="date">: 무모한 도전?</span>
              </a>
              <div class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                 </md-chips>
                </md-content>
                </div>

          </md-card-title-text>
          <md-card-content style=" padding-right: 3%;">
              <p  class = "date" align = "right" style=" padding-right: 6%;">
                    2016-07-05
              </p>
              <p  class = "date">
                 <span span style="font-style:italic;">Write by</span> highluck
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>
-->

    <div align=center style="font-size:18px;">
        <td style="margin-left=20px">
          <a href="#/devstory" style="color:#444">1</a>
        </td><td>&nbsp;&nbsp;</td>
        <td style="margin-left=20px">
          <a href="#/devstory/2/" style="color:#444">2</a>
        </td><td>&nbsp;&nbsp;</td>
        <td style="margin-left=20px">
          <a href="#/devstory/3/" style="color:#444">3</a>
        </td><td>&nbsp;&nbsp;</td>
    </div>
</md-content>
