<div class = title-img style="background-image: URL(img/cong.jpg);">
   <br>
    <h1>스토리지 공부</h1>
       <p align = "left" style=" padding-right: 10%;">

           <span span style="font-style:italic;">Write by</span> highluck

       </p>
</div>
<div class="retitle"></div>

<md-content class="md-padding content-board" layout-xs="column" layout="row">
  <div flex-xs="" flex-gt-xs="50" layout="column">
    <md-card>
        <md-card-title>
        <md-card-title-text style ="padding-left : 3%;">
            <a href="#/data_b" style="color:#444">
              <span class="md-headline">3. 로그를 좀더 쉽게 쉽게 </span><br>
              <span class="date"> : kafka 부터 한걸음 씩</span>
            </a>
             <div class="chipsdemoStaticChips" layout="column">
              <md-content class="md-padding" layout="column">
                <md-chips>
                  <code>kafka</code>
                  <code>elasticSearch</code>
               </md-chips>
              </md-content>
              </div>

        </md-card-title-text>

        <md-card-content style=" padding-right: 3%;">
            <p class = "date" align = "right" style=" padding-right: 6%;">
                  2018-03-20
            </p>
            <p class = "date" >
               <span span style="font-style:italic;">Write by</span> highluck
            </p>
        </md-card-content>
      </md-card-title>
    </md-card>
  </div>

    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
          <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
              <a href="#/data_b" style="color:#444">
                <span class="md-headline">2. 캐싱으로 퍼포먼스업 </span><br>
                <span class="date"> : 레디스로 캐싱</span>
              </a>
               <div class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                    <code>Redis</code>
                    <code>MySQL</code>
                    <code>Batch</code>
                 </md-chips>
                </md-content>
                </div>

          </md-card-title-text>

          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2017-04-20
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>

     <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
          <md-card-title>
          <md-card-title-text style ="padding-left : 3%;">
              <a href="#/data_a" style="color:#444">
                <span class="md-headline">1. 데이터 폭풍이닷</span><br>
                <span class="date"> : 스크래핑으로 가져온 데이터 처리</span>
              </a>
               <div class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                    <code>Redis</code>
                    <code>MySQL</code>
                    <code>Batch</code>
                    <code>Scrapping</code>
                 </md-chips>
                </md-content>
                </div>

          </md-card-title-text>

          <md-card-content style=" padding-right: 3%;">
              <p class = "date" align = "right" style=" padding-right: 6%;">
                    2016-11-20
              </p>
              <p class = "date" >
                 <span span style="font-style:italic;">Write by</span> highluck
              </p>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>

</md-content>
