<div class="contents">
    <div class="page-header">
    <h2 style=" padding-left: 5%;">16. 비동기 병렬 처리로 퍼포먼스를 올리자</h2>
    <h3 style=" padding-left: 5%;"> : Java callable, Future</h3>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                   &nbsp;&nbsp;2017-06-23</p>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                 <span span style="font-style:italic;">Write by</span> highluck
    </p>
       <div style=" padding-left: 5%;" class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>Java</code>
                      <code>Future</code>
                 </md-chips>
                </md-content>
        </div>
    </div>
    <div class = "footer footer-font" style="width:90%">
        <p>&nbsp;월별 상품 판매 랭킹을 계산해야하는데 상품 데이터의 매달 계산하는 쿼리를 날려야해서 매우 느렸다. 그래서 생각한 것이 병렬 처리!! 사실 병렬처리가 매우 어려워보일 수 있지만 생각보다 쉽다.<br>
            자바Api의 callable 그리고 future를 사용하면 금방 처리 가능!
        </p>
        <br>

<div class="highlighter-rouge footer-font"><pre class="highlight"><code>
for(int i = 0; i &#60;= srchDate.get(Calendar.MONTH); i++) {
  Calendar startCal = (Calendar) srchDate.clone();
  startCal.set(Calendar.MONTH, i);
  startCal.set(Calendar.DATE, 1);

  String sdt = CalendarUtil.toString(startCal,"yyyy-MM-dd");
  Calendar endCal = (Calendar) startCal.clone();
  endCal.set(Calendar.DATE, endCal.getActualMaximum(Calendar.DAY_OF_MONTH));

  String edt = CalendarUtil.toString(endCal,"yyyy-MM-dd");
  rankList.add(orderDomain.getTopSaleAmountByPeriod(sdt, edt, limit));
}
</code></pre>
  <br>
  <p> 처음에는 이렇게 매번 getTopSaleAmountByPeriod를 호출하여 가져오게 되어있는 코드였다.
    그런데 getTopSaleAmountByPeriod이라는 함수가 속도가 매우느리면 저기서 wait가 걸린다.
    그래서 저것을 비동기 처리하는게 이번 비동기처리의 핵심! 그래서!!</p><br>
<div class="highlighter-rouge footer-font"><pre class="highlight"><code>
public Callable &#60;List &#60;Map &#60;String, Object&#62;&#62;&#62; getTopSaleAmountByPeriod(String sdt, String edt, int limit) {
    return () -> orderSlaveMapper.getTopSaleAmountByPeriod(
            ParamHelper.getInstance()
                    .put("sdt", sdt)
                    .put("edt", edt)
                    .put("limit", limit).getMap());
}
</code></pre><br>
<p> getTopSaleAmountByPeriod을 Callable로 감싼다 Callable로 감싸게되면 새로운 스레드로 처리 하여 끝났을대 알아서 콜백을 해준다. 매우편하다.
  그리고 아까 로직부분에 저 펑션을 담을 Future 리스트와 스레드 풀을 만들어 주고, Future 리스트에 위의 펑션들을 담는다.
</p><br>
<div class="highlighter-rouge footer-font"><pre class="highlight"><code>
List &#60;Future &#60;List &#60;Map &#60;String, Object&#62;&#62;&#62;&#62; rankList =  Lists.newArrayList();
ExecutorService executor = Executors.newCachedThreadPool();
for(int i = 0; i &#60;= srchDate.get(Calendar.MONTH); i++) {
	Calendar startCal = (Calendar) srchDate.clone();
    startCal.set(Calendar.MONTH, i);
	startCal.set(Calendar.DATE, 1);

	String sdt = CalendarUtil.toString(startCal,"yyyy-MM-dd");
	Calendar endCal = (Calendar) startCal.clone();
	endCal.set(Calendar.DATE, endCal.getActualMaximum(Calendar.DAY_OF_MONTH));

	String edt = CalendarUtil.toString(endCal,"yyyy-MM-dd");
	rankList.add(executor.submit(orderDomain.getTopSaleAmountByPeriod(sdt, edt, limit)));
}
</code></pre><br>
<p>
  Future에 담으면 펑션의 레퍼런스를 담는다고 생각하면 된다 그래서 실행중인 상태의 펑션을 담을 수 있다. 그리고 순서를 보장 하기위해 List에 담았다.
  그리고 담은 List를 루프를 돌려 실행이 끝났을때 다시 담는다.
</p>
<div class="highlighter-rouge footer-font"><pre class="highlight"><code>
  List &#60;List &#60;Map &#60;String, Object&#62;&#62;&#62; resultList = Lists.newArrayList();
  rankList.forEach( r -> {
		try {
			resultList.add(r.get());
		} catch (InterruptedException e) {
			e.printStackTrace();
		} catch (ExecutionException e) {
			e.printStackTrace();
		}
	});
</code></pre><br>
<p>
  이렇게 .get 을하면 실행이 끝났을때를 대기한다. 그러면 모두 동시에 쿼리를 처리해서 저 List에 담길것이다.
  <br>
  테스트를 해보니 속도가 약 4~5배가 빨라졌다. 스칼라를 하면 조금 더 이쁜 비동기 코드를 짤 수 있다고 하는데! 스칼라 공부를 해야겠다는 생각이 다시한번 든다.
</p>

</div>
