
<div class="contents">
<div class="page-header">
    <h2 style=" padding-left: 5%;">1. 헬융권에 온 것을 환영한다.</h2>
    <h3 style=" padding-left: 5%;"> : 은행송수신 TCP Server Dev</h3>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                    &nbsp;&nbsp;2016-07-25</p>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                 <span align = "right" span style="font-style:italic;">Write by</span> highluck 
    </p>
  
        <div style=" padding-left: 5%;" class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>Java</code>
                      <code>Tcp</code> 
                      <code>postgreSQL</code> 
                 </md-chips>
                </md-content>
        </div>
</div>

<div class = "footer footer-font" style="width:90%">
    <p>&nbsp;내가 입사한 스타트업은 핀테크를 하는 스타트업 이었다. 전에는 금융권개발을 하는 친구들이 헬융권&nbsp;||&nbsp; 소프트웨어개발의 끝이라고 표현하는 의미를 몰랐다...... 
    </p>
    <br>
    <h3>Dev1. 은행 전문 수신 서버</h3>
    <p> 처음으로 내가 개발하게 된 것은 은행과 전문을 주고 받는 서버를 개발하는 것이었다. TCP통신서버로 대출받은 사람의 내역, 개인정보등을 송수신하는 서버를 개발하는 것 이었다. </p>
    <br>
    <h4>&nbsp;뭐 별거아니네</h4>
    <h3>&nbsp;뭐 별거아니네?</h3>
    <h2>&nbsp;뭐 별거아니네?!!!</h2>
    <br>
    <p>&nbsp;이것은 극 암덩어리 였다. 프로토콜을 정의해놓은 개발 문서 조차 기술적인 내용은 전혀 없고, 그냥 프로세스만 막나열 해놓은 수준으로 무슨 말인지 이해가 안되었다. 문서를 보고 또 보고 개발을 시작..<br>
    메시지 하나를 보내는 과정도 매우 복잡했다.<br> 간단히 그려보자면 메시지 한번을 보낼때마다 이런과정을 통해야한다.
    </p><br>
    <img src="img/protocol.png" width="500" height="800">
    <br><br>
    <p>&nbsp;프로세스를 빼면 개발하는 것은 어려운일이 아니었다. 하루에 한번만 송수신 요청이 일어나기 때문에 엄청난 Performance가 필요한 프로그램도 아니었다. 그래서 단순한 socket통신으로 개발할 수 있었다. 단지, 프로토콜이 워낙 이상했기때문에 그것을 파싱하는 소스를 만드는게 머리가 아팠다.    
    </p><br>
    <p>&nbsp;프로토콜은 다음과 같은 형식이었다. </p>
    <h4>예시) 0032012342332444233412341 홍길동890101 323233 </h4>
    <br>
     <p>&nbsp;다음과 같은 프로토콜을 짤라서 사용해야 했다. 앞에 4자리는 뒤에 바이트크기이고 뒤에 몇자리는 뭐뭐고 그래서 그냥 다 subString으로 짤라야했다.&nbsp;그런데 나중에 DetailMessage 에서는 "|" 구분자가 포함되서 왔다. 그래서 이부분은 "|"을 split해서 파싱하고 DB에 저장하면 끝.</p><br>
    <p>그리고.... 개발을 하고 나니 팀장님왈 "이거 반대로 하는 서버도 하나더 만들어야 하는데 괜찮겠어?"<br>
        하... 괜히 이직 했나?...</p>
    <br>
        <h3>Dev2. 은행 전문 송신 서버</h3>
    <p> 이번 서버는 수신서버의 프로세스에서 반대로만 개발하면된다.</p> 
    <p>즉, 다음과 같은 프로세스에서 내가 은행이라고 생각하고 만들면 된다. </p>
    <br>
    <h2>&nbsp;이번엔 진짜 별거아님!!!</h2>
    <br>
    <img src="img/bank_model.png" width="500" height="800">
    <h5>(프로그램 레이어)</h5>
    <br>
    <p>&nbsp;다음과 같은 레이어로 개발을 시작했다. 프레임워크가 없이 개발하더라도 레이어를 잘 구분해 놓아야 나중에 다른사람들과 협업하기가 좋기때문에 레이어를 잘나누려고 노력했다. (나는 스파게티 코드를 코딩하는게 너무 힘들다. ㅜㅜ) 사실 수신 서버가 있기 때문에 금방 만들 수 있었지만, 사실 전 부터 스칼라를 너무 해보고 싶었다. 마침 송신 서버는 위험도가 적어서 팀장님의 배려로인해 스칼라로 개발 할 수 있었다. 그래서 집가는 길에 즐거운 마음으로 스칼라기본서를 구입!! 내일부터 개발 시작이다! 
    </p>
     <h3>To Be Continue</h3>
</div>
</div>