<div class="contents">
    <div class="page-header">
    <h2 style=" padding-left: 5%;">17. 자바로 리액티브 프로그래밍</h2>
    <h3 style=" padding-left: 5%;"> : Java8</h3>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                   &nbsp;&nbsp;2017-09-23</p>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                 <span span style="font-style:italic;">Write by</span> highluck
    </p>
       <div style=" padding-left: 5%;" class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>Java8</code>
                      <code>Future</code>
                      <code>FP</code>
                 </md-chips>
                </md-content>
        </div>
    </div>
    <div class = "footer footer-font" style="width:90%">
        <p>&nbsp;지난 포스트에 비동기로 동시프로그래밍을 했었는데 코드가 깔끔하지 못했다.<br>
            그래서 그코드를 펑셔녈하게 바꾸어보려고한다.
        </p>
        <br>

<div class="highlighter-rouge footer-font"><pre class="highlight"><code>
List&#60;List&#60;Map&#60;String, Object&#62;&#62;&#62; resultList = Lists.newArrayList();
List&#60;Future&#60;List&#60;Map &#60;String, Object&#62;&#62;&#62;&#62; rankList =  Lists.newArrayList();
ExecutorService executor = Executors.newCachedThreadPool();
for(int i = 0; i &#60;= srchDate.get(Calendar.MONTH); i++) {
	Calendar startCal = (Calendar) srchDate.clone();
    startCal.set(Calendar.MONTH, i);
	startCal.set(Calendar.DATE, 1);

	String sdt = CalendarUtil.toString(startCal,"yyyy-MM-dd");
	Calendar endCal = (Calendar) startCal.clone();
	endCal.set(Calendar.DATE, endCal.getActualMaximum(Calendar.DAY_OF_MONTH));

	String edt = CalendarUtil.toString(endCal,"yyyy-MM-dd");
	rankList.add(executor.submit(orderDomain.getTopSaleAmountByPeriod(sdt, edt, limit)));
}

List&#60;List&#60;Map&#60;String, Object&#62;&#62;&#62; resultList = Lists.newArrayList();
rankList.forEach( r -> {
	try {
		resultList.add(r.get());
	} catch (InterruptedException e) {
		e.printStackTrace();
	} catch (ExecutionException e) {
		e.printStackTrace();
	}
});
</code></pre><br>
<p>
  다음과 같이 코드를 짰었다. 하지만 위의 코드를 보면 상당히 복잡하다. 저것을 펑셔널하게 바꾸기 위해서는 우선 FP를 조금 알아야한다. 
</p><br>
    <h4>Functional???</h4>
    <p>&nbsp;우선 펑셔널은 Immutable객체 여야 한다. 이말은 특정 객체의 상태가 변화 하면 안된다는 것이다. 예를 들어 i라는 변수가 있을때 i++ 즉, i값이 계속증가하는 상태가 변화하면 안된다는 것이다. 이것의 이유는 많은 이유가 있다. 그 중 내가 생각하는 이유는 동시성 이슈가 있을때 조금 더 ThreadSafe한 코드를 만들어 낼 수 있다. 객체가 변화하지 않기때문에 여러 Thread가 접근해도 Safe하기 때문이다.</p><br>
    <p>&nbsp;예를 들어 StringBuilder객체에 .append를 하면 StringBuilder안에 있는 값이 변화한다. 여러사람이 StringBuilder에 접근해서 .append를 하면 우리는 원하는 값을 얻지 못할 것이다.</p><br>
    <p>&nbsp;그리고 명확하다 상태를 변화 시키지 않기 때문에 그 함수를 사용했을때 return 으로 받는 값이 내가 원하는 값일 것이다.상태를 변화시키지 않기 때문에 실수할 확률이 적어진다.</p>
    <br>
    <h4>코드를 바꾸어보자</h4>
<div class="highlighter-rouge footer-font"><pre class="highlight"><code>
List&#60;Future&#60;List&#60;Map &#60;String, Object&#62;&#62;&#62;&#62; rankList =  Lists.newArrayList();
ExecutorService executor = Executors.newCachedThreadPool();
for(int i = 0; i &#60;= srchDate.get(Calendar.MONTH); i++) {
	Calendar startCal = (Calendar) srchDate.clone();
    startCal.set(Calendar.MONTH, i);
	startCal.set(Calendar.DATE, 1);

	String sdt = CalendarUtil.toString(startCal,"yyyy-MM-dd");
	Calendar endCal = (Calendar) startCal.clone();
	endCal.set(Calendar.DATE, endCal.getActualMaximum(Calendar.DAY_OF_MONTH));

	String edt = CalendarUtil.toString(endCal,"yyyy-MM-dd");
	rankList.add(executor.submit(orderDomain.getTopSaleAmountByPeriod(sdt, edt, limit)));
}
</code></pre><br>
<p>위의 코드를 아래와 같이 바꾸었다.</p>
<div class="highlighter-rouge footer-font"><pre class="highlight"><code>
ExecutorService executor = Executors.newCachedThreadPool();
List&#60;Future&#60;List&#60;Map&#60;String, Object&#62;&#62;&#62;&#62; rankList 
    = IntStream
        .range(0, srchDate.get(Calendar.MONTH) + 1)
        .mapToObj( i -> {
        	Calendar startCal = (Calendar) srchDate.clone();
            startCal.set(Calendar.MONTH, i);
            startCal.set(Calendar.DATE, 1);

            Calendar endCal = (Calendar) startCal.clone();
            endCal.set(Calendar.DATE, endCal.getActualMaximum(Calendar.DAY_OF_MONTH));
            return executor.submit(orderDomain.getTopSaleAmountByPeriod(
                CalendarUtil.toString(startCal,"yyyy-MM-dd")
                , CalendarUtil.toString(endCal,"yyyy-MM-dd")
                , limit));
        })
        .collect(Collectors.toList());

</code></pre><br>
    <p>Calendar는 어쩔수없이 Mutable이지만 그외에는 Immutable이고 상태가 변화하는 객체가 없다. 나머지 코드도 변화 시켜보겠다.</p>
    
    <div class="highlighter-rouge footer-font"><pre class="highlight"><code>
ExecutorService executor = Executors.newCachedThreadPool();
List&#60;List&#60;Map&#60;String, Object&#62;&#62;&#62; resultList = IntStream
        .range(0, srchDate.get(Calendar.MONTH) + 1)
        .mapToObj( i -> {
        	Calendar startCal = (Calendar) srchDate.clone();
            startCal.set(Calendar.MONTH, i);
            startCal.set(Calendar.DATE, 1);

            Calendar endCal = (Calendar) startCal.clone();
            endCal.set(Calendar.DATE, endCal.getActualMaximum(Calendar.DAY_OF_MONTH));
            return executor.submit(orderDomain.getTopSaleAmountByPeriod(
                CalendarUtil.toString(startCal,"yyyy-MM-dd")
                , CalendarUtil.toString(endCal,"yyyy-MM-dd")
                , limit));
        }) // 여기서 return 타입은 List&#60;Future&#60;List&#60;Map&#60;String, Object&#62;&#62;&#62;&#62; 이다 -- publisher
        .map( f -> {
            try {
                return f.get();
            } catch (InterruptedException | ExecutionException e) {
                e.printStackTrace();
                return null;
            }
        }) List&#60;List&#60;Map&#60;String, Object&#62;&#62;&#62; 타입으로 -- subscriber
        .collect(Collectors.toList());

</code></pre><br>
    <p> 이제 pub sub 패턴이 명확이 보일 것이다. 조금 더 펑셔널하게 짜기위해 고민하다보면 조금 더 재밌게 코딩을 할 수 있게 되는 것 같다.
    </p>
    
</div>
