<div class="contents">
    <div class="page-header">
    <h2 style=" padding-left: 5%;">12. 나는 이렇게 레이어를 구성한다.</h2>
    <h3 style=" padding-left: 5%;"> : 나의 Spring 서버레이어</h3>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                   &nbsp;&nbsp;2016-12-15</p>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                 <span span style="font-style:italic;">Write by</span> highluck
    </p>
       <div style=" padding-left: 5%;" class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>SpringBoot</code>
                 </md-chips>
                </md-content>
        </div>
    </div>
    <div class = "footer footer-font" style="width:90%">
        <p>&nbsp;내가 주로 구성하는 스프링레이어이다.</p>
        <img src="img/layer/layer.png" width="800" height="600"><br>
        <p>&nbsp;JPA같은 Orm을 사용하다보면 Entity 모델과 Response 모델을 ValueObejct모델을 구별 하여야 하는 경우가 많이 있다. 그래서 그것을 구별하는것에 많이 신경쓰는편이다.</p>
        <p>&nbsp;그외에는 위에 적어둔 설명을 보는것이 좋을것 같다.</p>
    </div>
</div>
