

<div class="contents">
<div class="page-header">
    <h2 style=" padding-left: 5%;">3.&nbsp;데이터를 잃어버리다.</h2>
    <h3 style=" padding-left: 5%;"> : 트랜잭션 충돌</h3>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                   2016-08-23</p>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                 <span span style="font-style:italic;">Write by</span> highluck 
    </p>
    
     <div style=" padding-left: 5%;" class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>JPA</code>
                      <code>DB</code>
                 </md-chips>
                </md-content>
        </div> 
</div>
    
<div class = "footer footer-font" style="width:90%">
    <p></p>
</div>