
<div class="contents">
<div class="page-header">
    <h2 style=" padding-left: 5%;">1.&nbsp;하 ..이만큼의 데이터는 힘들어요ㅜㅜ</h2>
    <h3 style=" padding-left: 5%;"> : 대용량 사용자로그</h3>
     <p align = "right" style=" padding-right: 6%;">- 2016-04-25 -</p>
    <p align = "right" style=" padding-right: 5%;"><span span style="font-style:italic">Write by</span> highluck</p>
</div>

<div class = "footer footer-font" style="width:90%">
    <p>&nbsp;게임회사는 매주 수요일에 정식 라이브배포를 할 수 있다. 그래서 수요일만 되면 지옥이다. 정말 지옥이다. 이리저리 끌려다니는 건 기본 여러가지 이슈가 많이 터지는 날이다. 나는 게임 관리 모니터링 툴을 개발하고 있다. 한번은 레벨과 경험치를 조정하는 cheet를 라이브서버에 보내는 모듈을 개발한 적이 있다. 근데 실수로 프로토콜에 레벨과 경험치를 거꾸로 입력한적이 있었다. 정말 그날은 다시 생각하고 싶지않다. 이곳저곳에 불려다니고 혼나고 또 혼나고 하루종일 혼나기만 한 날이었다.</p>
    <br>
    <h3>- 사건의 시작 -</h3>
    <p>&nbsp;사실 위에 적었던 이슈는 기술적인 문제는 아니고 단순 실수이기 때문에 금방 고칠수있다. 그런데 어느날 전략기획략팀에서 "사용자로그가 엑셀로 안뽑혀요"라는 메시지가 왔다. 어? 뭐지? 그건 문제가 없을텐데 하고 직접 내눈으로 확인해야겠다는 생각에 전략기획팀이 있는 층으로 갔다. 그리고 순간 당황했다. 문제가 있던 이유는 이사람이 300만건의 사용자로그를 엑셀로 뽑으려고 하고 있던 것이었다. 당연히 타임아웃이 날 수 밖에..</p><br>
    <h4>!!! 이렇게 많은걸 뽑으려고 하니 당연히 타임아웃이 나지...</h4><br>
    <p>&nbsp;나는 바로 "이렇게 많은양의 데이터는 뽑아내기 힘들거에요... 시간도 오래걸리고... 나눠서 뽑으시는게 나을것 같은데..."하니 이분이 "나눠서 파일을 만들면 우리 업무가 너무 복잡해져요ㅜㅜ 오래걸려도 되니 제발 뽑을수만 있게 해주세요." "으..네.. 일단 해볼게요"라고 말하고 내자리로 돌아왔다. 그리고 옆자리 개발자형에게 이런저런 사정을 말했다. 당연히 그형도 "엥? 왜그런 이상한짓을 하지?"라는 답변이 올뿐이었다. </p>
    <br>
    <h3>- 페이징처리 -</h3>
    <p>&nbsp;처음에는 쿼리를 보고 튜닝을 해보려고 했다. 근데 생각보다 단순한 쿼리다. Join이 있긴하지만 뭐 만질게 없었다. 그래서 속도는 포기했다. 지금 가장 현실적인건 타임아웃을 잡아내는것! 먼저 타임아웃시간을 늘릴수도 있지만 그건 한쪽에서 너무 많은 시간동안 스레드를 차지 하고 있으면 분명 문제가 있을거라는 생각을 했다. 그래서 "한번에 다 SELECT하지 말고 여러번에 나눠서 SELECT하면 되지 않을까?" 라는 생각을 했다. 그렇다 페이징 처리다. 간단히 슈도코드를 그려보면 다음과 같다.</p><br>
    <img src="img/paging.png" width="400" height="350"><br>
    <p>&nbsp;이렇게 나눠서 SELECT를 해서 문제를 해결할 수 있었다. 아직도 시간이 오래 걸리긴하지만 이제는 타임아웃은 절대 없을 것이다... 더 좋은 방법이 없나 생각을 더 해보긴 해야겠다.</p>
</div>
</div>