
<div class="contents">
<div class="page-header">
    <h2 style=" padding-left: 5%;">3.&nbsp;데이터를 잃어버리다.</h2>
    <h3 style=" padding-left: 5%;"> : 트랜잭션 충돌</h3>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                   2016-08-23</p>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                 <span span style="font-style:italic;">Write by</span> highluck 
    </p>
    
     <div style=" padding-left: 5%;" class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>JPA</code>
                      <code>DB</code>
                 </md-chips>
                </md-content>
        </div> 
</div>
    
<div class = "footer footer-font" style="width:90%">
    <p> 평소에 sns를 개발하고 싶은 생각이 많아 사람을 조금 모아서 감성여행이라는 앱을 개발중이다. 앱에대한 이야기는 나중에 자세히하고 요번에 생긴 문제에 대해 이야기를 해보려고 한다.</p><br>
    
    <h4>- 2016.12.31 이문제를 다른 방법으로 해결하였습니다.-</h4>
    <p> 트랜잭션하는 메서드안에 이메일을 보내는 기능때문에 그동안 api속도가 느려서 다음과 같은 문제가 발생하였습니다. 하지만 이메일 보내는 기능을 비동기로 하여 api속도를 높였습니다. 사실 이메일인증이 없다면 트랜잭션이 금방 끝낼 문제였고, 충동할 확률이 적었을 것입니다. 하지만 그렇다 하더라도 많은 사람들이 사용하다보면 아래와 같은 문제가 있을수도 있기 때문에 남겨 두겠습니다.</p><br><br>
    
    <h4>- 동시성 문제 -</h4>
    <p> 계정 생성시 채번을 하여 id값을 생성하는 api를 만들었다. 그리고 다같이 테스트를 하는데. 이게 웬일!!! 충돌이 나서 계정이 생성안되는 경우를 보았다. (다행히 초기에 알아서 다행다행...) 이문제는 기본적으로 MySQL의 격리수준이 read commit이기 때문이었다. </p><br><br>
    <h4>- DB 격리 수준 -</h4>
    <p> 일반적으로 데이터베이스에는 4가지의 격리수준이 있다.</p>
    <h5> read uncommitted </h5>
      <p>  커밋 되지 않은 데이터 상태에서 읽을 경우 추후에 롤백이 되더라도 처리 된 부분까지의 결과를 읽을 수 있습니다. 즉, 트랜젝션 중간이라도 데이터 읽기에 대한 접근이 가능합니다.
          dirty read라고 부르기도 한다.</p><br>
    <h5> read commit </h5>
        <p>Commit된 내역을 읽을 수 있는 상태로, 트랜잭션이 다르더라도 특정 타 트랜잭션이 Commit을 수행하면 해당 데이터를 Read할 수 있음</p><br>
     <h5>repeatable read</h5>
       <p> mysql에서 default로 설정되어 있는 트랜젝션 격리수준이다. 
        Select 시 현재 데이터 버전의 Snapshot을 만들고, 그 Snapshot으로부터 데이터를 조회
동일 트랜잭션 내에서 데이터 일관성을 보장하고 데이터를 다시 읽기 위해서는 트랜잭션을 다시 시작해야 한다.</p><br>
    <h5> SERIALIZABLE</h5>
        <p>가장 높은 level의 트랜젝션
        데이터에 대하여 트랜젝션이 수행중인 경우 읽기 쓰기 수정 삭제 모든게 불가능하다.</p>
        <p>(참고: http://mythinkg.blogspot.kr)</p>
    <br>
    <p>&nbsp;채번을 할때는 기존의 DB의 칼럼 count조회를 한다. 그래서 동시에 하면 똑같은 count값을 가지고 id를 새성하기 때문에 나는 에러 였다. 그렇다면 해결책은 DB격리수준 설정을 바꾸는것? 하지만 그것외에도 해결 책을 찾던중 JPA에서 자체락을 걸 수 있다는 것을 알게 되었다.</p><br><br>
    
    <h4>- JPA 락!! -</h4>
    <p>&nbsp;JPA는 자체락을 제공한다. 낙관적락과 비관적락이 있다는데 한번 알아봐야겠다.</p><br>
    
    <h5>1. 낙관적 락 @version 으로</h5>
    <p>낙관적락이란? 이름 그대로 트랜잭션 대부분은 충돌이 발생하지 않는다고 낙관적으로 가정하는 방법이다. 이것은 DB가 제공하는 락 기능을 사용하는 것이 아니라 JPA가 제공하는 버전 관리기능을 사용한다.</p>
            <div class="highlighter-rouge footer-font"><pre class="highlight"><code>
@Entity
public class User {

  @Id
  private Long id;

  private String name;

  @Version
  private Integer version; //버전 
}
            </code></pre>
        </div>
        <p> 이렇게 버전 설정을 해두면 엔티티가 수정이할때 조회시점 마다 버전이 증가한다. 그래서 수정이 될때와 조회시점 버전이 다르면 예외처리를 해준다. (Timestamp나 short도 가능하다)</p><br>
    <h5>2. 낙관적 락을 직접 건다.</h5>
        <p> 두번째는 직접 락을 거는 것이다.</p>
                    <div class="highlighter-rouge footer-font"><pre class="highlight"><code>
User user = entityManager.find(user.class, id, LockModeType.OPTIMISTIC);
이렇게 또는 
직접 필요할때 
entityManager.lock(LockModeType.OPTIMISTIC); // 이렇게 락을 걸어주는 방법이 있다.
            </code></pre>
        </div><br>
    <h5>3. 비관적 락</h5>
    <p>&nbsp; 비관적락은 위와 반대로 트랜잭션이 충돌한다고 보고 우선 락을 거는 방법이다 DB에서 제공하는 락을 사용한다. 사용법은 위에 락을 걸때 Type을 PESSIMISTIC_READ 또는 PESSIMISTIC_WRITE 로 하면된다. 이렇게 하면 트랜잭션이 끝날 때 까지 다음 트랜잭션은 대기를 한다. </p>
    <br>
    <p> 위 문제를 해결 하기 위해서 낙관적 락으로 예외를 떨궈서 처리해도 괜찮고 비관적 락으로 대기를 걸어도 괜찮다.</p>
</div>