<div class="contents">
    <div class="page-header">
    <h2 style=" padding-left: 5%;">13. 나는 이렇게 레이어를 구성한다.</h2>
    <h3 style=" padding-left: 5%;"> : 나의 Spring 서버레이어</h3>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                   &nbsp;&nbsp;2017-02-05</p>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                 <span span style="font-style:italic;">Write by</span> highluck 
    </p>
       <div style=" padding-left: 5%;" class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>SpringBoot</code>
                 </md-chips>
                </md-content>
        </div>
    </div>
    <div class = "footer footer-font" style="width:90%">
        <p>&nbsp;회사에 6월에 입사하여 지금 까지 개발한 내용을 문서화하면서 내가 개발한 내용들을 정리해보게 되었다. 먼저 지금까지 개발된 구성은 다음과 같다.</p>
        <img src="img/layer/layer.png" width="800" height="600"><br>
        <p>&nbsp;팀원들과 함께 MicroService를 구성하려고 많이 노력했다. 내가 먼저 제안한 것이었고, 게임회사에서의 경험이 있었기 때문에 주도적으로 진짜 열심히 했다.(많은부분에 기여 한것은 자랑!!)</p>
        <p>&nbsp;사실 스타트업환경에서 마이크로서비스아키텍처를 구성한다는 것은 조금 부담이 갈 수 있다. 그렇게 큰서비스가 아니기 때문이다. 그리고 생산적인 측면에서도 기존의 모놀로틱개발을 하는 것이 하나의 웹서버를 구성하여 부담없고 좋다. 하지만 굳이 마이크로서비스로 개발을 한이유는 다음과 같다.</p><br>
        <h3>- MSA의 장점  -</h3>
        <h4>1.유지보수하기에 좋다.</h4>
        <p>&nbsp;서비스가 커지면 웹서버에 코드가 엄청 많아진다. 그에 따라 관리하기가 점점 힘들어질 수 있다. 그리고 모두가 같은 프로젝트를 바라보고 개발을 하기 때문에 관리 배포가 점차 힘들어진다.</p><br>
        <h4>2.몰리는 특정 서비스만 분산처리하기에 좋다.</h4>
        <p>&nbsp;얼마전에 우리 투자서비스에 4억이라는 개인투자 상품이열렸다. 이때 예상치 못하게 순간적으로 트래픽이 급등했고, 15분 사이에 600명 이상의 사람이 투자를 하여 마감되었다. 이 때, 순간적으로 투자서비스쪽 Api요청이 느려졌었다. (그래서 항의전화가 많이 왔었다고 한다.....) 하지만 이것을 알았기 때문에 다음 오픈때는 미리 <span style="font-weight:bold">투자 서비스만 로드밸런싱 하면된다. 하지만 우리서비스가 모놀로틱이었다면! 모든 API가 담긴 웹서버를 통째로 로드밸런싱해야 한다</span></p><br>
        <h4>3.확장성</h4>
        <p>&nbsp;금융권에 차세대라는 것이 있다고 들었다. 전체를 갈아엎고 다시만든다는건데... 하지만 마이크로서비스로 개발하면 하나의 마이크로단위의 서버이기 때문에 특정 서비스서버만 다시 만들면된다! 그러므로 앞으로 서비스가 커질것을 생각했을때 확장성면으로 좋다고 생각한다.</p><br>
        <h4>4.재사용성</h4>
        <p>&nbsp;서비스를 재사용할 수 있다. 실제로 대출서비스를 만들때 사용해놓은 계정인증서버를 조금 고쳐서 개인투자서비스에서도 사용하고있다. 시간을 절약 할 수 있었다.</p><br>
        
        <p>&nbsp;하지만 모든것에는 단점이 있다! MSA의 단점은 다음과 같다.</p><br>
        <h3>- MSA의 단점 -</h3>
        <h4>1. 트랜잭션</h4>
        <p>&nbsp;사실 RestApi로 통신을 하기 때문에 서로 다른 서버와 묶어서 트랜잭션을 하기가 힘들어진다. Rollback을 처리할 수 있는 Api를 만들어주여야 하는 단점이있다. 예를들면 두개의 Api를 호출했을때, 하나의 Api에서 Exception이 떨어진다면 그걸 원래대로 복귀해주는 Api를 다시 호출해야한다. 예를들면 투자회원가입을 하면 User레벨이 0 -> 1이 된다고 했을때 투자회원가입 Api는 성공했는데 User레벨을 변경해주는 Api가 실패한다면 다시 투자회원을 가입한 아이디의 내용을 지워버리는 Api를 호출하는 하는식이다. 이렇게 트랜잭션이 복잡해진다. (그래서 나는 돈이 걸려있는 치명적인 트랜잭션은 조금 큰단위 서버로 묶었다.)</p><br>
        <h4>2. VM가상머신 배포 자동화</h4>
        <p>&nbsp;두번째 단점 vm구축을 해야한다는점이다. 하나의 서비스가 하나의 서버의 리소스를 다사용하지 못한다. 그렇기 때문에 비용절약을 위해 VM을 띄워야한다. 하지만 요즘엔 클라우드가 많이 활성화 되어있어서 크게 문제될것 같진 않다. 그리고 배포 자동화를 하지않으면 배포가 매우힘들다는 점</p>
        <br>
        <p>&nbsp;아무래도 스타트업이다보니 인력이 적은데 괜히 일을 벌린건지 싶기도하다. API게이트도 있어야겠지만 여력이없다 ㅜㅜ... 하지만, 이렇게 개발을 하면서 ORM, Redis도 쓰게되고 RestAPI설계 능력(아주조금...)등 실력향상이 된 것 같다. 하지만 얼마전 안재우개발자님께서 발표하시는 내용을 보고 나의 허접함을 또 한번 느낀다. 나도 저연차가 되면 저렇게 할 수 있을까? 스스로에게 물음을 던지고 마무리를 한다.</p>
       
    </div>
</div>