<div class="contents">
    <div class="page-header">
    <h2 style=" padding-left: 5%;">11. 투자 서버 개발</h2>
    <h3 style=" padding-left: 5%;"> : 예치금 투자 내역 계산 모델링 그리고 개발</h3>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                   &nbsp;&nbsp;2016-01-20</p>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                 <span span style="font-style:italic;">Write by</span> highluck 
    </p>
       <div style=" padding-left: 5%;" class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>MySQL</code>
                      <code>Spring</code>
                 </md-chips>
                </md-content>
        </div>
    </div>
    <div class = "footer footer-font" style="width:90%">
        <p>&nbsp;금감원의 규제로 회사의 대출 서비스가 중단되고 개인투자자를 받는 새로운 서비스를 개발하게 되었다... 사실 전 30cut의 클라이언트 서버는 대부분 내가 개발 하였다. 하지만 이번 서비스는 급하게 개발되는 만큼 나는 투자 서버의 개발을 맡게 되었다. 처음에 조금 난감했다. 해본적없는 내용이기 때문에 어떤 스토리를 짜고 어떻게 모델링을 해야할지... 그래서 먼저 스토리를 구성했다.</p>
        <br>
        <h4>스토리</h4>
        <h5>1. 사용자가 투자상품에 투자를 하려고한다.</h5>
        <h5>2. 사용자는 투자회원가입을 하고, 가상계좌를 받는다.</h5>
        <h5>3. 사용자는 가상계좌에 돈을 입금을 하고 그 계좌에 들어온 돈은 예치금으로 들어온다.</h5>
        <h5>4. 사용자는 예치금에 들어온 돈으로 투자상품에 투자를 한다. 예치금에 있는 돈은 투자상품으로 간다.</h5>
        <h5>5. 투자상품에 투자자가 모여 확정되면, 그 이후로 이율에 따라 한달에 한번씩 이자가 예치금에 꼽힌다.</h5>
        <h5>6. 상환이 완료 되면 투자자의 예치금에 투자금을 돌려 받는다.</h5>
        <br>
        <p>&nbsp;우선 이러한 스토리를 개발을 하려고한다. 여기서 모델링을 할때 고려해야할 점은 사용자의 예치금및 투자 이자 계산이다. 가상계좌는 하나의 모계좌에대한 수많은 가상계좌이다. 즉 모계좌와 가상계좌는 1:N의 관계 그렇다면 가상계좌에 대해서 알 수 있는 것은 거래내역뿐.. 그래서 은행 api를 통해 거래내역을 가져오고 매번 계산을 해주어야 한다는 것이다. 그렇다면 로그처럼 남길 수 있는 테이블을 잘 쌓는 것도 고려해야 한다.</p>
        <br>
        <h4>데이터 모델링</h4>
        <p>&nbsp;투자회원과 투자상품간의 투자 데이터 모델링예시로 들어보겠다.</p>
        <h5>1. 투자회원과 투자상품</h5>
        <img src="img/invest/invest_db1.png" width="350" height="250"><br>
        <p>우선 투자 회원과 투자상품 테이블을 만든다 이둘의 관계를 설정해 나갈것이다.</p><br>
        
        <h5>2. 가상계좌 입출금 내역과 투자 내역</h5>
        <img src="img/invest/invest_db2.png" width="550" height="450"><br>
        <p>&nbsp;은행 api를 이용해서 가상계좌 내역을 가져와 db에 쌓는다. 그내역으로 예치금을 계산한다. 가상계좌 거래내역을 검색할 때는 회원의 업데이트 날짜와 현재 날짜를 조건으로 검색해온다. 그래야 중복데이터가 덜 할것이기 때문에 계산내용을 줄일 수 있다. 그리고 투자가 일어날때 투자내역테이블에 쌓아 투자 금액을 계산해야한다. 이러한 이유로 두개의 테이블을 생성했다.</p><br>
        
        <h5>3. 로그 테이블과 이자내역 테이블</h5>
        <img src="img/invest/invest_db3.png" width="550" height="450"><br>
        <p>&nbsp;혹시모르기 때문에 로그테이블을 만들었다. 사이즈가 커지면 따로 로그DB를 만들예정이다. 그리고 투자테이블을 참조해 이자를 계산한 내역을 DB에 쌓는다.</p><br>
        
        <h5>4. 파티셔닝</h5>
        <img src="img/invest/invest_db4.png" width="550" height="450"><br>
        <p>&nbsp;유저아이디로 거래내역같은 테이블을 파티셔닝 한다. 거래내역, 투자내역은 많은 데이터가 쌓이기 때문에 다른 테이블에비해 많은 데이터가 쌓이는 테이블이다. 그렇기 때문에 SELECT INSERT 등 처리에 파티셔닝을 하는게 더 유리하겠다는 생각을 하게 되었다. 이 아이디로 RANGE파티셔닝을 한다. 1~1000, 1001~2000 ... 으로 파티셔닝을 하고, 그 이후에는 DB를 샤딩할 생각으로 모델링을 했다.</p><br>
        
        <h4>여기서 유저 아이디는? 어떻게 가져오는 것인가?</h4>
        <img src="img/invest/userid.png" width="800" height="600"><br>
        <p>&nbsp;사용자가 로그인을 하면 계정서버에서 유저의 정보를 Response 해준다. 그 정보를 투자회원 가입할 때 다시넣는다 그러면 계정서버에서 다시 인증을 거쳐 유저아이디가 투자 DB에 저장이된다.</p><br>
        
        <h4>그러면 가상계좌는 어떻게 가져오는 것인가?</h4>
        <img src="img/invest/fund.png" width="800" height="600"><br>
        <p>&nbsp;사용자가 가상계좌번호를 요청하면 투자서버로 요청하고 사내에 만들어놓은 은행 api Proxy서버로 요청하고 그서버가 은행에 요청해서 가져온다. 간단하다 거래내역도 마찬가지이다.</p><br>
    </div>
</div>