<div class="contents">
<div class="page-header">
    <h2 style=" padding-left: 5%;">5. 사이드 업무 개발</h2>
    <h3 style=" padding-left: 5%;"> : 사내 전자 결재 시스템</h3>
     <p align = "right" style=" padding-right: 6%;">- 2016-09-10 -</p>
    <p align = "right" style=" padding-right: 5%;"><span span style="font-style:italic">Write by</span> highluck</p>
    
       <div style=" padding-left: 5%;" class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>Spring</code>
                      <code>AngularJS</code> 
                      <code>DB</code> 
                 </md-chips>
                </md-content>
        </div>
</div>

    <div class = "footer footer-font" style="width:90%">
        <p>&nbsp; 어느날 갑자기 대표님의 명령이 내려왔다. </p><br>
        <h3> 사내 전자 결재 시스템을 만들어라! </h3><br>
        <p> "하... 앞으로 만들어야할게 많은데.. 전자결재라니.. 그것도 15명 남짓 있는 회사에서.." 라고 생각하다가  "에이 그냥 만들지뭐 재미는 있겠다." 라는 생각으로 바뀌었다.</p><br>
        <h3>- DB 스키마 설계 -</h3>
        <p>&nbsp; DB 테이블 설계를 하면서 고민을 많이 했다. 결재 라인을 같은 것들은 어떻게 설계해야하지? 그런 것에 대한 고민이 많았다. 사실 전에 게임 회사에서도 기존에 있는 DB를 많이 사용했고 간단한 마이그레이션 정도 만 했기 때문에 이런 것은 조금 부족한 부분이기도 했다. 하지만 고민거리가 생기는 것은 즐거운일 집에가서도 운동하면서도 그 생각을 많이했다. 다음은 간단한 예시이다.</p><br>
        <h4>1. db 칼럼정리</h4>
        <img src="img/db/db1.png" width="130" height="150"><br>
        
        <p>&nbsp;우선 필요한 칼럼이 무엇인지 정리를 했다. </p><br>
        
        <h4>2. 다른db에서 정보 가져오기 </h4>
        <img src="img/db/db2.png" width="350" height="250"><br>
        
        <p>&nbsp;여기서 우선 작성자와 결재자의 정보를 테이블에 다 가지고 있을 필요가 없다고 생각했다. 그래서 ERPDB에 있는 사원정보 테이블에서 데이터를 가져오기로 했다. 다른 DB기 때문에 프로그램에서 처리를 해주어야한다. </p>
        <br>
        
        <h4>3. 1:n 관계로 나누기 </h4>
        <img src="img/db/db3.png" width="350" height="250"><br>
        
        <p>&nbsp;그 다음 은 여기서 결재자의 수가 동적이기 때문에 1:n 관계로 테이블을 나누어야 한다. 그리고 원래 payment의 테이블에 결재 카운트수를 주어서 결재단계가 어느정도 단계까지 진행되었는지 체크할 수 있게 했다. </p>
        <br>
        
        <h4>4. 타입별 테이블 생성하기 </h4>
        <img src="img/db/db4.png" width="500" height="350"><br>
        
        <p>&nbsp; 여기서 결재 타입이 여러가지다. 근데 그 타입별로 내용항목이 다르다. 그렇기 때문에 타입별로 테이블을 나누주려고 했다. 그리고 vacation 같이 ERP와 연관이 있는 항목은 ERPdb의 데이터와 같이 변경 해주어야한다. 이것도 역시 프로그램에서 처리한다. </p>
        <p>&nbsp; 마지막으로 팀장님께 검수를 맡았다. 다행히 팀장님께서도 OK를 하셨고 테스트 복제 DB에 테이블을 생성했다. 이제 개발을 시작하면 된다.</p>
        <br>
        <h3>- 개발 -</h3>
        <p>&nbsp;우선 서버는 api서버로 만들었다. 혹시 erp에서 가져다 쓸수도 있기 때문에, 프론트는 SPA로 AngularJS를 이용했다.</p>
        <p>&nbsp;나는 그동안 프론트 프레임워크로 Angularjs를 사용했다. 사실 프론트가 많이 약한 나지만, Angular는 조금 다르다. 우선 Angularjs의 큰 장점은 양방향 바인딩이다. "이게 무엇을 뜻하는가?" 라고 묻는다면! 그것은 조금 더 구조적인 개발을 할 수 있다. JavaScript와 html을 분리하여 코딩을 할 수 있고, MVC모델을 기본으로 개발을 할 수 있다는 것이다. 그래서 JQuery보다 더 쉽고 더 알아보기 좋은 코드를 만들 수 있다는점! </p>
        <br>
        <p>&nbsp;특히 신경을 쓴곳이 있다면 결제라인을 만드는 것이었다. 어떻게하면 사용자가 편하게 사용할 수 있을까? 라는 고민을 많이했다. 그래서 부서별 직원정보를 자동완성할 수 있게 만들었다. 이 기능을 구현하면서 다음과 같은 생각을 했다.</p><br>
        <h5>직원 정보를 매번 서버의 DB에서 가져와서 자동완성 하는 것은 비효율적 -> 그렇다면 캐싱을 하자 -> Redis 같은 캐시를 사용하기엔 큰기능이 아님 -> Html5의 세션스토리지를 이용하면 되겠다!</h5>
        <br>
        <h5>&nbsp; 그렇다 html5에는 세션스토리지라는 좋은 기능이 있었다. 세션 스토리지는 브라우저를 끌때까지 클라이언트에 데이터를 저장할 수 있는 기능이다. 직원정보를 세션스토리지에 저장해두고 사용하면 불필요한 DB커넥션과 트래픽이 없을 것이다. 속도면에서도 효율적이다.</h5>
        <br>
        <img src="img/payment/member.png" width="400" height="300"><br>
        
        <p>&nbsp;개발을 완료했다. 사실 크게 어려운 프로그램은 아니지만 좋은 평을 들어서 뿌듯하다.</p><br>
        <h5>(전자결재 화면)</h5>
        <img src="img/payment.png" width="700" height="400"><br>
    </div>
</div>