
<div class="contents">
<div class="page-header">
    <h2 style=" padding-left: 5%;">-3- 개발자는 늘 고민을 해야해</h2>
    <h3 style=" padding-left: 5%;"> : Architecture </h3>
     <p align = "right" style=" padding-right: 6%;">- 2016-08-10 -</p>
    <p align = "right" style=" padding-right: 5%;"><span span style="font-style:italic">Write by</span> highluck</p>
</div>

    <div class = "footer footer-font" style="width:90%">
        <p>&nbsp;사실 회사의 전체적인 아키텍처가 단순했다. 내가 입사 직전 전체적인 구성도는 다음과 같다.</p>
        <img src="img/arc_pre.png" width="600" height="350">
        <br>
        <h3>- 새로운 설계 -</h3>
        <p>&nbsp;팀장님과 새로운 아키텍처에 대한 이야기를 많이 나누었다. 기존에 홈페이지는 html중간중간에 PHP코드가 있었고 인증같은 과정이 없었다. 그리고 이렇게 front와 server가 붙어있으면 나중에 서비스가 커지면 개발하기 어렵겠다는 생각이들었다. (나는 개발에 있어서 서로 협업을 위한 코드는 상당히 중요하다고 생각한다.) 또한 팀장님께서 은행과 송수신하는 서버를 쉽게 모니터링하는 서비스개발도 필요하다고 얘기하셨다. 나도 공감하는 이야기다 왜냐면 회사의 직접적인 매출과 연관이 되어있기 때문에 서버가 죽었는지 살았는지 쉽게 모니터링을 할 필요가 있었기 때문이다. 조금 더 자세한 건 개발하는 포스팅을 올릴 때 다시한번 올리겠다.</p>
        <p> 그래서 생각해낸 새로운 아키텍쳐!</p>
        <img src="img/arc_aft.png" width="600" height="350">
        <br>
        
        <p>설계를 하면서 중요하게 생각한 것은 다음과 같다. </p><br>
        <p>1. 서비스 모듈 별로 WebApi화를 하여 서비스 별로 편하게 가져다 쓰게 하기(나중에 Mobile등 다른 Servie를 개발한다고 들었다.)</p>
        <p>2. WebApi를 만들고 간단한 설명서를 통해 나중에 다른 개발자가 합류했을때도 쉽게 개발환경에 적응 할 수 있게 하기</p>
        <p>3. Zookeeper나 Redis 같이 익숙하지 않은 기술을 익히고 개발 스펙트럼 넓히기</p>
        <p>4. 비용을 줄이는 개발하기(로드밸런스 같은 장비 없이 Zookeeper를 이용한 세션서버 같은)</p>
        <br>
        <p> 3번은 **kao 라는 회사에 면접을 봤을때 내가 "오픈소스는 어떻게 선정해서 사용하시나요?" 라는 질문을 했었다. 그때 그곳의 개발자님께서 "개발자는 항상 신기술에 민감해야 한다."는 이야기를 하셨었다. 그 이야기가 나에게 많이 와닿았다. 그래서 그 이후로 항상 신기술은 물론 여러기술에 많이 관심을 가지고 공부하고 있다. 그리고 1번은 WebApi로 만들어 놓으면 나중에 확장성도 좋고, 다른 서비스를 만들때도 쉽게 가져다가 쓸 수 있다. 그리고 사실 전회사를 다니면서 배운 내용이 많다.</p>
        <br>
        
        <h3>- 고마워요 Lineage -</h3>
        <p>&nbsp;여기로 오고나서 느끼는건 전회사에서 6개월밖에 안되는 시간이지만 많이 배웠고 그안의 시스템을 내것으로 만들려는 노력이 많은 도움이 되었다. 전회사 이야기를 좀 하자면 나의 개발에 대한 생각을 많이 바꿔 줄 수 있게 해준 회사였다. 게임회사다보니 항상 대용량 데이터 트래픽에 대비한 인프라를 구성해야 했고, 많은 개발자가 참여하는 만큼 좋은 개발환경을 구축하는 것이 중요했다. 그안에서 내가 큰 역할을 한것은 아니지만, 하나의 서비스를 개발하면서 다른 서비스와 연결해서 쓰는일이 많았고 다른 개발자와 함께 개발하는 방법등을 배운것이 정말 좋은 경험이었다고 생각한다.
        이러한 이야기를 하는 이유는 회사의 시스템을 설계하면서 이 경험이 나에게 큰 도움을 주었기 때문이다.
        <h3>사실 좋은 설계가 아닐지도 모른다. 나는 아직 주니어다... </h3>
        <p>&nbsp;여기까진 내가 설계한 아키텍처이기 때문에 이제 팀장님과 팀원들과 서로 조율하고 뺄건빼고 넣을건 넣어서 하나하나씩 개발을 해야겠다. 
        </p>
    </div>
</div>