<div class="contents">
    <div class="page-header">
    <h2 style=" padding-left: 5%;">10. 데이터 폭풍이닷 </h2>
    <h3 style=" padding-left: 5%;"> : 순간 데이터 처리</h3>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                   &nbsp;&nbsp;2016-11-30</p>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                 <span span style="font-style:italic;">Write by</span> highluck 
    </p>
       <div style=" padding-left: 5%;" class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>Redis</code>
                      <code>MySQL</code>
                      <code>Batch</code>
                      <code>Scrapping</code> 
                 </md-chips>
                </md-content>
        </div>
    </div>
    <div class = "footer footer-font" style="width:90%">
        <p>&nbsp;</p>
    </div>
</div>