
<div class="contents">
<div class="page-header">
    <h2 style=" padding-left: 5%;">스타트업 도전 0</h2>
    <h3 style=" padding-left: 5%;"> : 무모한 도전?</h3>
    <p align = "right" style=" padding-right: 6%;">- 2016-07-15 -</p>
    <p align = "right" style=" padding-right: 5%;"><span span style="font-style:italic">Write by</span> highluck</p>
</div>

<div class = "footer footer-font" style="width:90%;">
    <h3>- 일상의 무료함 -</h3>
    <p>&nbsp;2016년 6월 나는 다니던 회사를 떠나기로 마음먹었다.<br>회사를 오래 다닌 것은 아니었지만 뭔가 모를 갈증이 계속 되었던 것이었다. 조금이라도 어린나이일때 밑바닥을 경험해보고 싶었다. 사실 다니던 회사는 좋은 회사였다. 개발자를 위한 복지가 좋았던 것은 물론 나름 업계에 이름있는 게임회사 였다. 그만큼 좋은 개발자들이 많았고 개발 프로세스와 기존에 있는 프로그램 소스를 보며배울것이 많았다. 하지만 "처음부터 만들어 보고싶다."라는 생각이 머리속에 끊이질 않았고.. 나는 결국 회사를 그만두었다. 그만두는 과정도 쉽지 않았다. 직원들 팀장 실장님 계속해서 면담을 해야했다. 면담과정 중에 주로 들었던 이야기는 "너 여기만한 회사 갈 수 있겠느냐?, 다른 곳 가면 더 고생한다" 가 대부분 이었다. 하지만 나는 스스로에게 확신이 조금 있었다.
    </p>
    <br>
    <h3>- 향수병 -</h3>
    <p>&nbsp;사실 스타트업을 가고 싶었던 이유 중 가장 큰 이유는 예전에 음악을 할때나 성당에서의 봉사단체를 운영할때의 향수를 다시 맡고 싶었던게 사실이었다. 이게 독이될지 약이될지는 모르겠지만 마음을 먹었으니 실행에 몸긴다.</p>
    <p>&nbsp;그만두기전에 이력서를 몇군데 넣었었다. 하지만 회사를 쉬지 못해서 면접을 몇군데 날려먹었다. OTL...
    그래서 회사를 그만두고 본격적으로 이력서를 넣을 회사를 찾았다. 내가 회사를 넣는 기준은 이랬다.</p>
    <br>
    <p>1. 초기인 회사</p>
    <p>2. 그래도 월급은 잘 나오는 회사</p>
    <p>3. 투자가 있는 회사</p>
    <p>4. 웹서비스를 개발하고 있는 회사</p>
    <br>
    <p>&nbsp;소박 하지만 저 기준은 중요했다. 초기인 회사를 가야 주도적으로 일을 할 수 있을 것 같았고, 나는 집안 형편이 좋지 않았기 때문에 적어도 월급은 받아야 했다. 그리고 일반 사용자들이 사용하는 웹서비스를 개발하는 회사에서 일하고 싶었다.&nbsp;그렇게 4군데 정도의 스타트업에서 오퍼를 받았다. 그 중 한 곳의 팀장님이 너무 잘해주셨고, 앞으로의 프로젝트가 맘에 들어서 그 회사로 출근하기로 결정!! 다행히 연봉은 살짝이라도 올랐다..
    </p>
    <p>&nbsp;사실 이 스타트업을 고른 이유는 안정적이었다.&nbsp;발전 가능성이 있었다.&nbsp;(나도 어쩔수 없는 속물인가 보다.) 하지만 팀장님이 내의견을 적극적으로 들어주고 내가원하는 방향으로 개발할 수 있게 해준다고 약속해 주셨던 것이 더 큰 이유였다.  
    </p>
    <p>&nbsp;걱정이 정말 많이 되지만! 하고싶었던 일인 만큼 열정적으로 일해보련다. 그리고 그 이야기를 잘담아 내보겠다.
    </p>
</div>
</div>