
<div class="contents">
    <div class="page-header">
    <h2 style=" padding-left: 5%;">2. 캐싱으로 퍼포먼스업 </h2>
    <h3 style=" padding-left: 5%;"> : 레디스로 캐싱</h3>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                   &nbsp;&nbsp;2017-01-20</p>
    <p  class = "date" align = "right" style=" padding-right: 6%;">
                 <span span style="font-style:italic;">Write by</span> highluck
    </p>
       <div style=" padding-left: 5%;" class="chipsdemoStaticChips" layout="column">
                <md-content class="md-padding" layout="column">
                  <md-chips>
                      <code>Redis</code>
                      <code>MySQL</code>
                      <code>Batch</code>
                      <code>Scrapping</code>
                 </md-chips>
                </md-content>
        </div>
    </div>
    <div class = "footer footer-font" style="width:90%">
        <p>&nbsp;사실 레디스를 주로 사용하는 이유는 캐싱이다</p><br>
        <h4>많은 량의 컨텐츠를 한화면에 보여주는데 어떻게 해야 속도가 올라갈까?</h4>
        <p> 그 해답은 캐싱일 것이다. 병렬처리를 해도 매번 API를 호출하고 DB커넥션을 맺는것은 엄청난 비용이다.<br>
          그래서 우리는 주기적으로 배치에서 캐싱을 한다. 레디스는 InMemory엔진이기 때문에 속도가 빠르다 Rom과 Ram의 속도 차이라고 생각하면 됨
        </p>
        <img src="img/catching.png" width="600" height="350"><br>
        <p></p>
    </div>
</div>
